body {
	background-color: #eee;
	/*font: 16px/26px Helvetica Neue, Helvetica, Arial;*/
	/*height: 101%;*/
	/*background-color: #f0f0f0;*/
	/*color: #454545;*/
}
main {
	max-width: 90%;
	margin: 2em auto;
	opacity: 1;
	transition: all .33s ease-out;
}

.preload {
	opacity: 0 !important;
}

.button-default {
	color: #fff;
	background: rgb(66, 184, 221);
}

.button-default + .button-default {
	margin-left: 8px;
}
